/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
    background-color: pink;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body .ui-megamenu{
    background-color:linen !important;
    margin-bottom: 10px;
}
body .ui-menuitem{
    border-right: 1px solid indianred;
    border-radius: 0px;
}
