<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div style="text-align: center;margin-top: 10px;">
  <b>Welcome to my perfect exam project! </b>
</div>
<div style="text-align: center; margin-top: 20px;">
  <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)">
    <ng-template let-node >
      {{node.label}}
    </ng-template>
  </p-organizationChart>
</div>
